:root {
  --primary-50: 236, 235, 255; /* #ecebff */
	--primary-100: 226, 224, 255; /* #e2e0ff */
	--primary-200: 211, 204, 252; /* #d3ccfc */
	--primary-300: 197, 185, 250; /* #c5b9fa */
	--primary-400: 173, 155, 250; /* #ad9bfa */
	--primary-500: 145, 120, 250; /* #9178fa */
	--primary-600: 121, 90, 250; /* #795afa */
	--primary-700: 99, 71, 209; /* #6347d1 */
	--primary-800: 74, 64, 150; /* #4a4096 */
	--primary-900: 59, 52, 115; /* #3b3473 */
	--primary-950: 42, 41, 82; /* #2a2952 */
	--primary-1000: 27, 32, 55; /* #1b2037 */

  --surface-0: 255 255 255;
  --surface-50: 250 250 250;
  --surface-100: 244 244 245;
  --surface-200: 228 228 231;
  --surface-300: 212 212 216;
  --surface-400: 161 161 170;
  --surface-500: 113 113 122;
  --surface-600: 82 82 91;
  --surface-700: 63 63 70;
  --surface-800: 39 39 42;
  --surface-900: 24 24 27;
  --surface-950: 9 9 11;

  --primary: var(--primary-500);
  --primary-inverse: var(--surface-0);
  --primary-hover: var(--primary-600);
  --primary-active-color: var(--primary-600);

  --primary-highlight-opacity: 0.1;
  --primary-highlight-inverse: var(--primary-700);
  --primary-highlight-hover-opacity: 0.2;
}
.dark {
  --primary: var(--primary-400);
  --primary-inverse: var(--surface-900);
  --primary-hover: var(--primary-300);
  --primary-active-color: var(--primary-300);

  --primary-highlight-opacity: 0.2;
  --primary-highlight-inverse: var(--surface-0);
  --primary-highlight-hover-opacity: 0.3;
}

.customized-primary {
  &:not(.dark) {
    --primary: var(--primary-950);
    --primary-inverse: var(--surface-0);
    --primary-hover: var(--primary-800);
    --primary-active-color: var(--primary-900);

    --primary-highlight-opacity: 1;
    --primary-highlight-inverse: var(--surface-0);
    --primary-highlight-hover-opacity: 0.8;
  }
  &.dark {
    --primary: var(--primary-50);
    --primary-inverse: var(--surface-950);
    --primary-hover: var(--primary-100);
    --primary-active-color: var(--primary-100);

    --primary-highlight-opacity: 0.1;
    --primary-highlight-inverse: var(--surface-0);
    --primary-highlight-hover-opacity: 0.2;
  }
}
